[submodule "w3-1/lib/openzeppelin-contracts"]
	path = w3-1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib\\openzeppelin-contracts"]
	branch = v4.8.2
